/*------------------------------------*\
    #COLORS
\*------------------------------------*/
$drop-shadow:			rgba(0,0,0,.2);

$blue-bg:								#f0f4f7;
$blue: 									#0fa3d2;
$blue-dark: 						#303641;

$grey-text-lighter:			#ccc;
$grey-text-light:				#999;
$grey-text-mid:					#666;
$grey-text-dark: 				#5d5d5d;
$grey-text-darker: 			#303641;

$grey-light: 						#fcfcfc;
$grey: 									#f7f7f7;
$grey-dark: 						#cbcbcb;
$grey-border: 					#ddd;

$green: 								#47884c;
$yellow: 								#d39822;
$red: 									#e00d0d;

$modal__container-bg: #fff;
$modal__actions-bg: #f7f7f7;
$modal__overlay-bg: rgba(0,0,0,.7);

$link-color: $blue;
$cancel-color: $grey-text-light;

$patient-card-bg: #fff;
$patient-card-status: #9b9b9b;
$patient-card-message-bg: #53bb52;
$patient-card-message-txt: #fff;
$patient-card-message-waiting-bg: #cbcbcb;
$patient-card-actions-waiting-bg: #fcfcfc;
$patient-card-info-title: #999999;
$patient-card-info-value: #646464;
$patient-card-info-shadow: #dcdcdc;
$patient-card-focus: $blue;
$patient-card-edit: #444a54;

$alternate-text-color: #fff;
