/*------------------------------------*\
    #PAGE
\*------------------------------------*/

html {
	background-color: $blue-bg;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

ul {
	list-style-type: none;
}

input:focus, select:focus {
  outline: none;
}

input[type="search"] {
	box-sizing: border-box;
}