/*------------------------------------*\
    #ORGANIZATION-STATS
\*------------------------------------*/
.organization-stats {
	width: 500px;
	height: 174px;
	padding: 16px;
}

	.organization-stats__content {
			font-size: 28px;

		li {
			display: inline-block;
			margin: 0 18px;
			font-weight: 200;
		}
	}

		.organization-stats__label {
			display: block;
			max-width: 75px;
			font-size: 12px;
			font-weight: 400;
			color: $grey-text-light;
		}