<!DOCTYPE html>
<html lang="en">
<head>
    <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track' => false %>
    <%= javascript_include_tag 'admin', 'data-turbolinks-track' => false %>

    <title>My App Admin</title>

</head>

<body>
    <%= yield %>
</body>

</html>
